main {
  justify-content: space-around;
  display: flex;
  margin-top: 70px;
  padding: 50px;
}
div {
  text-align: center;
  margin: 0px;
  display: table-cell;
}
div .rollover {
  background-image: url(/img/1img.png);
  border: 1px solid white;
}
div .rollover:hover {
  border-color: rgb(69, 146, 233);
  background-image: url(/img/1img.png);
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
td {
  width: 33%;
}
p {
  font-size: 18px;
}
table {
  margin: 0 auto;
  width: 1000px;
  background-color: rgb(247, 243, 238);
}
