main {
  justify-content: space-around;
  display: flex;
  margin-top: 230px;
}
.block {
  display: inline-block;
  width: 400px;
  margin: 25px 15px 25px 15px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #9d9d9d;
}
.circle_1 a {
  border-radius: 50% #1275b9;
  background: url("img/cog.png");
  background-color: #ffffff;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-position: center center;
}
.circle_1:hover {
  background-color: #1275b9;
  background: url("img/cog\ \(1\).png");
}
